/* app css stylesheet */

@media screen and (min-width: 420px) {

}

@media screen and (min-width: 800px) {
  
}

.view-container {
  position: relative;
  padding: 0 10px;
  font-size: 16px;
}


.input-group {
  margin-bottom: 20px;
}

.wellList {
  padding-left: 0;
}

/*-----------details----------------------------*/

#map-outer {  
  padding: 20px; 
  border: 2px solid #CCC; 
  margin-bottom: 20px; 
  background-color:#FFF 
}
#map-container { 
  height: 300px;
  width: 50%;
  display: inline-block;
}

#address {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.wellForm {
  border: 5px solid #f7f7f9;
  padding: 15px;
}

.form-address {
  margin-bottom: 15px;  
}

/*---------main list------------*/
.title-container {
  background-color: #4C7BE0;
  height: 150px;
  text-align: center;
  color: #fff;
}

.title-container h1 {
  font-size: 75px;
  font-weight: bold;
  padding-top: 20px;
}

.title-container span {
  margin-right: 10px;
}

.well-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.well-list .well-list-item {
  display: inline-block;
  margin: 10px;
  width: 193px;
  height: 270px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  font-weight: bold;
}

.well-list .well-list-item h2 {
  font-weight: bold;
}

.well-list .well-list-item .status-container {
  margin-bottom: 10px;
  background: rgb(38, 38, 38);
  padding: 10px;
}

.well-list .well-list-item .status-container .status-text {
  font-size: 60px;
  line-height: 1;
  display: block;
}

.well-list .well-list-item .status-container p {
  margin: 0;
}

.well-list .well-list-item .status-container .status-time-hour {
  font-size: 30px;
}

.well-list .well-list-item .status-container .status-time-day {
  font-size: 22px;
}

.well-list .well-list-item.active {
  background: rgb(81, 161, 42);
}

.well-list .well-list-item.disabled {
  background: #696969;
}

.well-list .well-list-item.inactive {
  background: rgb(240, 64, 42);
}

.well-list .well-list-item.warning {
  background: #FFDE00;
}



/*   lista   */
.wellList li {
  list-style: none;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.wellList li:nth-child(odd) {
    background-color: #f5f5f5;
}

.wellList li dl {
  display: inline-block;
}

.wellList li .moreDetails {
  float: right;
  width: 104px;
}


.wellDetails .table tr.active-row{
    background-color: rgba(7, 175, 12, 0.38);
}
.wellDetails .table tr.not-active-row{
    background-color: rgba(134, 0, 12, 0.68);
}