/* app css stylesheet */



.view-container {
  position: relative;
  font-size: 16px;
}

.title-container {
  background-color: #4C7BE0;
  text-align: center;
  color: #fff;
  margin: 0;
}

.title-container {
  margin: 0;
}

.input-group {
  margin-bottom: 20px;
}

.wellList {
  padding-left: 0;
}

/*-----------details----------------------------*/

#map-outer {  
  padding: 20px; 
  border: 2px solid #CCC; 
  margin-bottom: 20px; 
  background-color:#FFF 
}
#map-container { 
  height: 300px;
  width: 50%;
  display: inline-block;
}

#address {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.wellForm {
  border: 5px solid #f7f7f9;
  padding: 15px;
}

.form-address {
  margin-bottom: 15px;  
}

/*---------main list------------*/


.well-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.well-list .well-list-item {
  display: inline-block;
  margin: 10px;
  width: 193px;
  height: 270px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  font-weight: bold;
}

.well-list .well-list-item h2 {
  font-weight: bold;
}

.well-list .well-list-item .status-container {
  margin-bottom: 10px;
  background: rgb(38, 38, 38);
  padding: 10px;
}

.well-list .well-list-item .status-container .status-text {
  font-size: 60px;
  line-height: 1;
  display: block;
}

.well-list .well-list-item .status-container p {
  margin: 0;
}

.well-list .well-list-item .status-container .status-time-hour {
  font-size: 30px;
}

.well-list .well-list-item .status-container .status-time-day {
  font-size: 22px;
}

.well-list .well-list-item.active {
  background: rgb(81, 161, 42);/*green*/
}

.well-list .well-list-item.inactive {
  background: rgb(240, 64, 42);/*red*/
}

.well-list .well-list-item.warning {
  background: #FFDE00;/*yellow*/
}

.well-list .well-list-item.disabled {
  background: #696969;/*gray*/
}




/*   lista   */
.wellList li {
  list-style: none;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.wellList li:nth-child(odd) {
    background-color: #f5f5f5;
}

.wellList li dl {
  display: inline-block;
}

.wellList li .moreDetails {
  float: right;
  width: 104px;
}


.wellDetails .table tr.active-row{
    background-color: rgba(7, 175, 12, 0.38);
}
.wellDetails .table tr.not-active-row{
    background-color: rgba(134, 0, 12, 0.68);
}

@media screen and (min-width: 420px) {
  .view-container {
    padding: 0;
  }

  .title-container {
    height: 110px;
  }

  .title-container h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
  }
  .title-container span {
    margin-right: 10px;
  }

  .well-list .well-list-item {
    margin: 5px;
    width: 153px;
    height: 200px;
    padding: 10px 0;
  }

  .well-list .well-list-item .status-container {
    margin-bottom: 5px;
    padding: 5px;
  }

  .well-list .well-list-item .status-container .status-text {
    font-size: 40px;
  }
  .well-list .well-list-item .status-container .status-time-hour {
    font-size: 20px;
  }
  .well-list .well-list-item .status-container .status-time-day {
    font-size: 16px;
  }

}

@media screen and (min-width: 800px) {
  .view-container {
    padding: 0 10px;
  }

  .title-container {
    height: 150px;
  }

  .title-container h1 {
    font-size: 75px;
  }

  .well-list .well-list-item {
    margin: 10px;
    width: 193px;
    height: 270px;
    padding: 20px 0;
  }
  .well-list .well-list-item .status-container {
    margin-bottom: 10px;
    padding: 10px;
  }
  .well-list .well-list-item .status-container .status-text {
    font-size: 60px;
  }
  .well-list .well-list-item .status-container .status-time-hour {
    font-size: 30px;
  }
  .well-list .well-list-item .status-container .status-time-day {
    font-size: 22px;
  }
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
