/* app css stylesheet */


.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}


.itemAction {
  margin: 10px 0;
}

.carList {
  padding-left: 0;
}

.carList li {
	list-style: none;
	display: block;
	border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.carList li dl {
  display: inline-block;
}

.carList li .moreDetails {
  display: block;
  width: 104px;
}

.carList li .thumb{
	width: 100px;
	float: left;
	margin: 10px;
}

.carList li .thumb img {
	max-width: 100%;
}

.carList li input[type=checkbox]{
  display: block;
  margin: 10px;
}


.carDetailsPartial {
  margin: 10px;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.carDetailsPartial .description-item {
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: -1px;
}

.carDetailsPartial dd.description-item {
  background-color: #eee;
}

.cross:before {
	content: '✘';
	display: inline-block;
}

.check:before {
	content: '✓';
	display: inline-block;
}

@keyframes moveIn {
    0%   {left:0px; top:100%}
    50%  {left:0px; top:50%}*/
    100% {left:0px; top:0px;}
}

.animateIn {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: moveIn;
    animation-duration: 4s;
}


.car-listing.ng-enter,
.car-listing.ng-leave,
.car-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.car-listing.ng-enter,
.car-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.car-listing.ng-move.ng-move-active,
.car-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.car-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.car-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}