<div class="carDetailsPartial">
    <h2>{{car.manufacturer}} {{car.model}}</h2>
    <img ng-src="img/cars/{{car.img}}" class="thumbnail">
    <dl>
        <dt class="description-item">Manufacturer:</dt>
        <dd class="description-item">{{car.manufacturer}}</dd>
        <dt class="description-item">Model:</dt>
        <dd class="description-item">{{car.model}}</dd>
        <dt class="description-item">Price:</dt>
        <dd class="description-item">{{car.price}}</dd>
        <dt class="description-item">Year:</dt>
        <dd class="description-item">{{car.year}}</dd>
        <dt class="description-item">GPS:</dt>
        <dd class="description-item" ng-class="{check: car.gps, cross:!car.gps}"></dd>
        <dt class="description-item">Airbag:</dt>
        <dd class="description-item" ng-class="{check: car.airbag, cross:!car.airbag}"></dd>
        <dt class="description-item">Radio:</dt>
        <dd  class="description-item" ng-class="{check: car.stereo, cross:!car.stereo}"></dd>
    </dl>
</div>

