<div class="createFormContainer">
	<h2>Nuevo Pozo</h2>
	<form class="wellForm">
	  <fieldset class="form-group">
	    <label for="idInput">Identificador Pozo</label>
	    <input type="text" class="form-control" id="idInput" placeholder="Id pozo" ng-model="well.id">
	    <small class="text-muted">Este camppo se usa para identificar al pozo y no puede tener espacios.</small>
	  </fieldset>
	  <fieldset class="form-group">
	    <label for="infoTextarea">Descripcion Pozo</label>
	    <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="well.info"></textarea>
	  </fieldset>
	  <button type="submit" class="btn btn-primary">Guardar</button>
	</form>
</div>